<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright &copy; Book Store @DateTime.Now.Year
        <custom-email my-email="darapumahesh79@gmail.com"></custom-email>
    </div>
    <!-- Copyright -->

</footer>