
@{
    Layout = "_Layout";
}





@*<h1>@DateTime.Now</h1>
    <h1>sum = @(3+8)</h1>
    @{
        int a=2;
        int b=3;
        int c=a+b;
    }
    <h1>@c</h1>
    <h1>my email - mahesh@gmail.com</h1>
    <h1>My twitter - @@maheshdar</h1>

    @{
        a = 3;
    }*@

@*@if(a>12)
            {
                <h2>Hi from if</h2>
    }
    else if(a==12)
            {
                <h2>Hi from else if</h2>
            }
            else
            {
                <h2>Hi from else</h2>
            }*@

@*@{
        int a = 10;
    }

    @switch(a)
            {
        case 1: <h1>I am 1</h1>
            break;
        case 2: <h1>I am 2</h1>
            break;
        case 3: <h1>I am 3</h1>
            break;
        default: <h1> I am default</h1>
            break;

    }*@

@*@for(int i = 0; i < 5; i++)
    {
        <h3>Hi: @(i)</h3>
    }*@


<!--<img src="~/Images/img1.jpg" class="logo" alt="Zayn" /><br />-->
@*<img src="~/MyStaticFiles/img1.jpg" class="log" alt="Zayn">
    <br />*@
<!--<input type="button" value="Click me" class="btn btn-danger" >-->






<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to the book store</h1>
        <p class="lead text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>

</section>
<div class="py-5 bg-light">
    <div class="container">
        <h1>Top books</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">This section used to display desc of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary"> view details</a>
                            </div>
                            <small class="text-muted">author name</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">This section used to display desc of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary"> view details</a>
                            </div>
                            <small class="text-muted">author name</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">This section used to display desc of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary"> view details</a>
                            </div>
                            <small class="text-muted">author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

@*@section scripts{
    <script>
        $(document).ready(function () {
            alert("document is ready");
        })
    </script>
}
*@
